:root {
  --main-color: #89a3dc;
  --secondary-color: #040e26;
}

.errorlog {
  display: none;
}

span.error {
  color: red;
  margin-top: 30px;
}

h2.wp-heading-inline {
  margin: 0.4em 0;
}

.wp-error {
  color: darkred;
  background-color: red;
  padding: 10px;
}

p.wp-success {
  color: darkgreen;
  background-color: lightgreen;
  padding: 10px;
}

.text-error-mc {
  color: darkred;
}

.text-success-mc {
  color: darkgreen;

  
}
.text-white-mc {
  color: white;

}
.form-wraper {
  border: 1px solid;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 7px;
  float: left;
  width: 47%;
  margin-right: 2%;
}


@font-face {
  font-family: 'suments';
  src: url('../fonts/suments.eot');
  src: url('../fonts/suments.eot?#iefix') format('embedded-opentype'),
    url('../fonts/suments.woff') format('woff'),
    url('../fonts/suments.ttf') format('truetype'),
    url('../fonts/suments.svg#suments') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'suments';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-suments-:before {
  content: '\0041';
}



.text-primary {
  color: var(--main-color);
}



.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: #FFFFFF;
}

ul#footer li {
  display: inline;
}

#text-dark {
  color: #ffffff;
}

.column {
  float: left;
  width: 50%;
}


/* BUTTONS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: var(--main-color);
  background-image: linear-gradient(1deg, var(--main-color), var(--main-color) 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
  background-color: var(--primary-color);
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.button-secondary-mc {
  align-items: center;
  appearance: none;
  background-color: var(--secondary-color);
  background-image: linear-gradient(1deg, var(--secondary-color), var(--secondary-color) 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-secondary-mc:active,
.button-secondary-mc1:focus {
  outline: none;
}

.button-secondary-mc:hover {
  background-position: -20px -20px;
  background-color: var(--primary-color);
}

.button-secondary-mc:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.card-mc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.card-mc-primary {
  transition: 0.3s;
  padding: 10px 10px 10px 10px;
  background-color: #89a3dc;
}

.card-mc-alert {
  transition: 0.3s;
  padding: 10px 10px 10px 10px;
  background-color: #f5cbca;
}

/* #directory {
  width: 100%;
  border-radius: 100px;
  padding: 1 12px 1 18px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 3px solid var(--secondary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

} */

.container {
  padding: 2px 16px;
}

.tablebackground {

  background-color: white;
}

/* INPUT TEXT */
input.mc[type="text"] {
  width: 50%;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  border: 3px solid var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input#mc_token[type="text"] {
  width: 50%;
  border-radius: 100px;
  padding: 2px 20px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 3px solid var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

}

.input#mc_token[type="text"]:focus {
  border: 3px solid #555;
}

input.mc[type="text"]:focus {
  border: 3px solid #555;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (min-width: 531px) {
  .col-sml {
    max-width: 27% !important;
  }

  .col-lge {
    max-width: 73% !important;
  }
}

/* CSS - 23-JAN-2023 */



 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   .metawash-plugin-outer {
   padding-right: 20px;
   }
   .metawash-plugin-outer .token_outer {
   background: #FFFFFF;
   border: 1px solid #C6C6C6;
   padding: 30px;
   margin-top: -8px;
   position: relative;
   margin-bottom: 35px;
   z-index: 99;
   }
   .metawash-plugin-outer .token_field_outer {
   background: #EAEAEA;
   border: 1px solid #D2D1D1;
   border-radius: 20px;
   padding: 25px;
   }
   .metawash-plugin-outer .token_heading .token_heading_left h6 {
   font-weight: 600;
   font-size: 18px;
   line-height: 13px;
   color: #1D1D1D;
   margin-bottom: 8px;
   margin-top: 0;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .token_heading .token_heading_left span {
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-decoration-line: underline;
   color: #1D1D1D;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .token_heading {
   display: flex;
   }
   .metawash-plugin-outer .token_heading_left {
   width: 50%;
   }
   .metawash-plugin-outer .token_heading_right {
   width: 50%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   }
   .metawash-plugin-outer .token_heading_right p {
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
   color: #1D1D1D;
   margin-top: 0;
   margin-bottom: 0;
   display: flex;
   font-family: 'Poppins', sans-serif;
   } 
   .metawash-plugin-outer .token_heading_right span {
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   text-decoration-line: underline;
   color: #2272B1;
   margin-left: 12px;
   font-family: 'Poppins', sans-serif;
   }
   div#delete_token:hover img.white-dlt-icon , div#delete_token img.active_plus{
    display: none;
}

div#delete_token:hover img.active_plus{
    display: block;
}
   .metawash-plugin-outer .token_heading_right p img {
   margin-right: 10px;
   }
   .metawash-plugin-outer .token_form form .input_token_field {
   height: 50px;
   width: 80%;
   padding: 23px;
   background: #F7F7F7;
   border: 1px solid #D2D2D2;
   border-radius: 10px;
   color: rgb(108 108 108 / 29%);
   } 
   .metawash-plugin-outer #wpfooter {
   position: unset;
   padding: 10px 20px;
   color: #50575e;
   }
   .metawash-plugin-outer .token_form_btn {
   width: 18%;
   text-align: right;
   }
   .metawash-plugin-outer .token_form form input#fname::placeholder {
   font-weight: 300;
   font-size: 12px;
   line-height: 12px; 
   color: #6C6C6C;
   }
   .metawash-plugin-outer .token_form {
   margin-top: 18px;
   }
   .metawash-plugin-outer .token_form form .token_form_btn a {
   background: #2272B1;
   border: 1px solid #2272B1;
   border-radius: 10px;
   display: inline-block;
   padding: 16px 32px;
   text-decoration: none;
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   text-align: center;
   color: #FFFFFF;
       cursor: pointer;
   }
   .metawash-plugin-outer .token_form form .token_form_btn a:hover {
   background: none;
   color: #2272B1;
   }
   .metawash-plugin-outer .token_form form {
   display: flex;
   gap:20px;
   }
   .metawash-plugin-outer .token_tagLine {
   display: flex;
   justify-content: space-between;
   margin-top: 11px;
   }
   .metawash-plugin-outer .tagLine_left span {
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   color: #1D1D1D;
   }
   .metawash-plugin-outer .tagLine_right span.Basic_plan {
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   text-align: right;
   color: #76797B;
   }
   .metawash-plugin-outer .tagLine_right .Basic_plan span.Upgrade {
   color: #014D8E;
   font-weight: 600;
   }
   .metawash-plugin-outer  .token_bottom_outer {
   background: #1E2327;
   border-radius: 8px;
   width: 425px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   padding: 14px 20px;
   }
   .metawash-plugin-outer  .token_bottom_left {
   width: 50%;
   position: relative;
   }
   .metawash-plugin-outer .token_bottom_left img.Polygon_bottom {
   position: absolute;
   top: -10px;
   left: 10px;
   width: 20px;
   }
   .metawash-plugin-outer .token_bottom_left img {
   width: 100%;
   border-radius: 4px;
   }
   .metawash-plugin-outer .token_bottom_btn a:hover {
   background: unset;
   }
   .metawash-plugin-outer .token_bottom_btn a {
   background: #2272B1;
   border: 1px solid #2272B1;
   border-radius: 10px;
   padding: 13px 17px 13px 17px;
   font-weight: 600;
   font-size: 13px;
   line-height: 14px;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   display: flex;
   align-items: center;
   width: 66%;
   margin: 0 auto;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .token_bottom_btn a img {
   padding-right: 8px;
   }
   .metawash-plugin-outer .token_bottom_right {
   width: 50%;
   text-align: center;
   margin-left: 15px;
   position: relative;
   }
   .metawash-plugin-outer .token_bottom_right h5 {
   font-weight: 500;
   font-size: 15px;
   line-height: 11px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
   margin: 0;
   margin-bottom: 22px;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .token_bottom_right img.cicrle-icon1 {
   position: absolute;
   bottom: -80px;
   left: 27px;
   }
   .metawash-plugin-outer .token_bottom_right img.cicrle-icon2 {
   position: absolute;
   bottom: -71px;
   left: 14px;
   }
   .metawash-plugin-outer #wrapper .content .tabs button.tablinks.token {
   position: absolute;
   top: 1px;
   left: -12px;
   z-index: 8;
   }
   .metawash-plugin-outer #wrapper .content .tabs button.tablinks.setting {
   position: absolute;
   top: 1px;
   left: 168px;
   z-index: 7;
   }
   .metawash-plugin-outer .select_folders_outers {
   height: 406px;
   overflow-y: scroll;
   }
   .metawash-plugin-outer #wrapper .content .tabs button.tablinks.manual {
   position: absolute;
   top: 1px;
   left: 347px;
   z-index: 6;
   }
   .metawash-plugin-outer #wrapper .content .tabs button.tablinks.contact {
   position: absolute;
   top: 0px;
   left: 530px;
   z-index: 5;
   }
   .metawash-plugin-outer #wrapper .content .tabs {
   height: 73px;
   position: relative;
   }
   .metawash-plugin-outer input[type=radio]:checked::before { 
   margin: 3px; 
   }
   .metawash-plugin-outer .setting_outer .setting_item {
   background: #FFFFFF;
   border: 1px solid #C6C6C6;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   padding: 25px;
   align-items: center;
   }
   .metawash-plugin-outer .setting_outer .setting_item .setting_heading h6 img {
   width: 18px;
   margin-right: 12px;
   }
   .metawash-plugin-outer .setting_outer .setting_item .setting_heading h6 {
   font-weight: 600;
   font-size: 16px;
   line-height: 14px;
   color: #1D1D1D;
   margin: 0;
   display: flex;
   align-items: center;
   }
   .metawash-plugin-outer .setting_outer .setting_item .setting_paragraph p {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #1D1D1D;
   margin: 0;
   display: flex;
   align-items: center;
   }
   .metawash-plugin-outer .setting_toggle_btn .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   }
   .metawash-plugin-outer .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
   }
   .metawash-plugin-outer .setting_toggle_btn .slider {
   position: absolute;
   cursor: pointer;
   top: 0px;
   left: 0;
   width: 51px;
   right: 0;
   bottom: 0; 
   -webkit-transition: .4s;
   transition: .4s;
   height: 23px;
   background: #DFDFE1;
   border-radius: 60px;
   }
   .metawash-plugin-outer .setting_toggle_btn .slider:before {
   position: absolute;
   content: "";
   height: 23px;
   width: 23px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   box-shadow: -2px 1px 5px -1px rgb(0 0 0 / 25%);
   left: 0;
   top: 0;
   }
   .metawash-plugin-outer input:checked + .slider {
   background-color: #2196F3;
   }
   .metawash-plugin-outer input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
   }
   .metawash-plugin-outer input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
   }
   /* Rounded sliders */
   .metawash-plugin-outer .slider.round {
   border-radius: 34px;
   }
   .metawash-plugin-outer .slider.round:before {
   border-radius: 50%;
   }
   .metawash-plugin-outer .spoted_file h6 {
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 14px;
   color: #1D1D1D;
   margin: 0;
   margin-bottom: 20px;
   }
   .metawash-plugin-outer .spoted_file ul li {
   background: #EDEDED;
   border: 1px solid #E1E1E1;
   border-radius: 5px;
   display: inline-block;
   padding: 8px 14px;
   font-weight: 400;
   font-size: 12px;
   line-height: 10px;
   text-align: center;
   color: #000000; 
   }
   .metawash-plugin-outer .spoted_file ul {
   margin: 0;
   display: grid;
   grid-template-columns: repeat(13, 1fr);
   gap: 6px;
   }
   .metawash-plugin-outer .select_box_outer select#directory {
   background: #FFFFFF;
   border: 1px solid #C6C6C6;
   border-radius: 10px;
   max-width: 82%;
   width: 100%;
   height: 48px;
   padding: 0 15px;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   color: #C6C6C6;
   margin: 0;
   }
   .metawash-plugin-outer .select_box_btn {
   width: 18%;
   display: flex;
   justify-content: right;
   }
   .metawash-plugin-outer .select_box_btn a img {
   margin-right: 11px;
   }
   .metawash-plugin-outer .select_box_btn a img.active_plus {
   display: none;
   }
   .metawash-plugin-outer .clean_files span {
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-align: right;
   text-decoration-line: underline;
   color: #2272B1;
   }
   .metawash-plugin-outer .clean_files {
   text-align: right;
   margin-bottom: 15px;
   }
   .metawash-plugin-outer .select_box_btn a {
   background: #2272B1;
   border-radius: 10px;
   display: flex;
   padding: 16px 20px;
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
   text-decoration: none;
   border: 1px solid #2272B1;
   align-items: center;
   }
   .metawash-plugin-outer .select_box_btn a:hover {
   background: none;
   color: #2272B1;
   }
   .metawash-plugin-outer .select_box_btn a:hover img.active_plus {
   display: block;
   }
   .metawash-plugin-outer .select_box_btn a:hover img {
   display: none;
   }
   .metawash-plugin-outer .select_box_outer {
   display: flex;
   align-items: center; 
   position: relative;
   }
   .metawash-plugin-outer .select_folders_heading {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   padding-bottom: 6px;
   border-bottom: 1px solid #D9D9D9;
   }
   .metawash-plugin-outer .select_folders_heading .folders_heading_left h6 {
   font-weight: 600;
   font-size: 16px;
   line-height: 13px;
   color: #000000;
   margin: 0;
   }
   .metawash-plugin-outer .select_folders_heading .folders_heading_right span {
   font-weight: 500;
   font-size: 12px;
   line-height: 14px;
   text-align: right;
   text-decoration-line: underline;
   color: #2272B1;
   }
   .metawash-plugin-outer .folders_outer1 .folders_item1 {
   background: #FFFFFF;
   box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
   border-radius: 5px;
   padding: 8px;
   width: 90%;
   position: relative; 
   }
   .metawash-plugin-outer .folders_outer1 {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   text-align: center;
   margin-top: 15px;
   gap: 20px;
   }
   .metawash-plugin-outer .heading_folders1 h6 {
   font-weight: 500;
   font-size: 12px;
   line-height: 11px;
   text-align: center;
   color: #000000;
   margin: 10px 0;
   }
   .metawash-plugin-outer .file_list span.file_list1 {
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   color: #000000;
   padding-right: 14px; 
   }
   .metawash-plugin-outer .file_list span.file_list2 {
   padding-left: 14px;
   }
   .metawash-plugin-outer .folders_item1 .radio_btn form input#html {
   width: 10px;
   height: 12px;
   min-width: 12px;
   }
   .metawash-plugin-outer .radio_btn {
   position: absolute;
   top: 10px;
   left: -3px;
   }
   .metawash-plugin-outer .dots_outer1 img {
   position: absolute;
   right: 10px;
   top: 10px;
   }
   .metawash-plugin-outer .folders_outer2 .folders_outer1:last-child {
   margin-top: 20px;
   }
   .metawash-plugin-outer .select_box_outer .input_fieldOuter .input_token_field {
   background: #FFFFFF;
   border: 1px solid #C6C6C6;
   border-radius: 10px;
   width: 90%;
   height: 48px;
   padding: 0 15px;
   }
   .metawash-plugin-outer .delete_clean a {
   background: #B12222;
   border-radius: 10px;
   border: 1px solid #B12222;
   padding: 12px 22px;
   cursor: pointer;
   }
   .metawash-plugin-outer .delete_clean a:hover {
   color: #B12222;
   }
   .metawash-plugin-outer .select_box_outer .input_fieldOuter .input_field .input_field_item {
   background: #EAEAEA;
   border-radius: 9px;
   display: inline-block;
   padding: 10px;
   width: 233px;
   }
   .metawash-plugin-outer .input_field {
   margin-top: 11px;
   display: flex;
   gap: 6px;
   }
   .metawash-plugin-outer .input_fieldOuter {
   position: relative;
   width: 83%;
   }
   .metawash-plugin-outer .delete_clean {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   }
   .metawash-plugin-outer .input_field_item span img {
   margin-right: 6px;
   }
   .metawash-plugin-outer .select_box_outer .input_fieldOuter .input_field .active_bg {
   background: #DCFFE2;
   border: 1px solid #ADF8B9;
   border-radius: 9px;
   }
   .metawash-plugin-outer .contact_form_outer .contact_heading h5 {
   font-weight: 600;
   font-size: 24px;
   line-height: 14px;
   text-align: center;
   color: #1D1D1D;
   margin: 0;
   margin-bottom: 18px;
   font-family: 'Poppins', sans-serif;
   } 
   .metawash-plugin-outer .contact_form_outer .contact_heading p {
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   color: #1D1D1D;
   margin: 0;
   margin-bottom: 31px;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .contact_form1 form input#fname {
   background: #ffffff;
   border: 1px solid #2272B1;
   border-radius: 10px;
   width: 100%;
   height: 50px;
   padding: 21px;
   font-family: 'Poppins', sans-serif;
   }
   .metawash-plugin-outer .contact_form1 form input#fname:focus {
   outline: none;
   box-shadow: unset;
   }
   .metawash-plugin-outer .contact_form1 form input#fname::placeholder {
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   color: #2272B1;
   }
   .metawash-plugin-outer .contact_form1 form label {
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   color: #1D1D1D;
   }
   .metawash-plugin-outer .contact_form1 form .first_child {
   position: relative;
   margin-bottom: 10px
   }
   .metawash-plugin-outer .contact_form1 form label {
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   color: #1D1D1D;
   padding: 0;
   position: absolute;
   top: 7px;
   left: 15px;
   position: relative;
   z-index: 16;
   font-family: 'Poppins', sans-serif;
   background-color: #FFF;
   }
   .metawash-plugin-outer .contact_form1 form label:before {
   content: "";
   position: absolute;
   top: 9px;
   left: -3px;
   background: #ffffff;
   width: 75px;
   height: 1px;
   z-index: -1;
   }
   .metawash-plugin-outer .contact_form1 form textarea#w3review {
   background: #ffffff;
   border: 1px solid #2272B1;
   border-radius: 10px;
   width: 100%;
   }
   .metawash-plugin-outer .contact_form1 form textarea#w3review:focus {
   box-shadow: unset;
   }
   .metawash-plugin-outer .message_input {
   margin-bottom: 30px;
   }
   .metawash-plugin-outer .contact_form1 form .message_input label:before {
   content: "";
   position: absolute;
   top: 10px;
   left: 0;
   width: 90px;
   height: 1px;
   background: #ffffff;
   }
   .metawash-plugin-outer .contact_form1 form {
   margin: 0 auto;
   width: 49%;
   }
   .metawash-plugin-outer .contact_form_btn input {
   border-radius: 10px;
   background: #2272B1;
   border: 1px solid #2272B1;
   display: inline-block;
   padding: 15px 34px;
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   text-align: center;
   color: #FFFFFF;
   }
   .metawash-plugin-outer .contact_form_btn input:hover {
   background: unset;
   color: #2272B1;
   }
   .contact_form_btn {
   text-align: center;
   }
   .metawash-plugin-outer .contact_img_left img {
   position: absolute;
   bottom: -4px;
   left: 0px;
   width: 280px;
   }
   .metawash-plugin-outer .contact_img_right img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 280px;
   }
   .metawash-plugin-outer .spoted_file_outer .spoted_file_input {
   margin-bottom: 20px;
   }
   .metawash-plugin-outer .spoted_file_outer .spoted_file {
   margin-top: 0px;
   }

   .metawash-plugin-outer .bottom_tagLines {
      margin-bottom: 100px;
    }

   .metawash-plugin-outer .bottom_tagLines p {
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   color: #1D1D1D;
   margin: 0;
   margin-top: 70px;
   font-family: 'Poppins', sans-serif;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -110px;
   }
   .metawash-plugin-outer .bottom_tagLines p span {
   font-weight: 600;
   color: #014D8E;
   border-bottom: 1px solid #014D8E;
   }
   .metawash-plugin-outer .token_form form .token_form_btn a.token-dlt-btn:hover {
   background: unset;
   color: #B12222;
   }
   .metawash-plugin-outer .token_form form .token_form_btn a.token-dlt-btn {
   background: #B12222;
    border-radius: 10px;
    border: 1px solid #B12222;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    cursor: pointer;
   }
   /* modal css start */
   .metawash-plugin-outer .modal_outer {
   background: #FFFFFF;
   border-radius: 5px;
   width: 531px;
   margin: 0 auto;
   text-align: center;
   padding: 50px 0;
   }
   .metawash-plugin-outer .modal_outer1 {
   background: rgb(54 54 54 / 60%);
   padding: 120px 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh; 
   z-index: 99;
   }
   .metawash-plugin-outer .modal_outer .modal_heading h6 {
   font-weight: 600;
   font-size: 24px;
   line-height: 22px;
   text-align: center;
   color: #000000;
   margin-bottom: 15px;
   }
   .metawash-plugin-outer .modal_outer .modal_heading p {
   font-weight: 400;
   font-size: 16px;
   line-height: 11px;
   text-align: center;
   color: #9C9C9C;
   margin-bottom: 30px;
   }
   .metawash-plugin-outer .modal_btn_bottom .modal_btn_left a {
   background: #E6E6E6;
   border:  1px solid #E6E6E6;
   border-radius: 10px;
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   text-align: center;
   color: #363636;
   display: inline-block;
   padding: 16px 32px;
   text-decoration: none;
   }
   .metawash-plugin-outer .modal_btn_bottom .modal_btn_left a:hover {
   background: none; 
   }
   .metawash-plugin-outer .modal_btn_bottom .modal_btn_right a {
   background: #B12222;
   border-radius: 10px;
   font-weight: 600;
   font-size: 14px;
   line-height: 14px;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
   display: inline-block;
   padding: 16px 32px;
   border: 1px solid #B12222;
   }
   .metawash-plugin-outer .modal_btn_bottom .modal_btn_right a:hover {
   background: none;
   color: #B12222;
   }
   .metawash-plugin-outer .modal_btn_bottom {
   display: flex;
   justify-content: center;
   gap: 20px;
   }
   .metawash-plugin-outer .modal_outer .modal_img {
   margin-bottom: 39px;
   }
   .metawash-plugin-outer .modal_outer1 {
   background: rgb(54 54 54 / 60%);
   padding: 120px 0;
   }
   .metawash-plugin-outer #mc_log_summary tbody tr th {
   background: rgb(247, 252, 252);
   border-radius: 9px;
   padding: 0 12px;
   }
   .metawash-plugin-outer #mc_log_summary tbody tr {
   display: flex;
   gap: 20px;
   }
   .metawash-plugin-outer table#mc_log_summary {
   margin-top: 10px;
   display: none;
   }
   /* modal css close */
   /*---latest input box----*/
   .metawash-plugin-outer .radio_btn {
   display: block;
   position: absolute;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   width:100%;
   height:100%;
   }
   /* Hide the browser's default radio button */
   .metawash-plugin-outer .radio_btn input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   }
   /* Create a custom radio button */
   .metawash-plugin-outer .checkmark {
   position: absolute;
   top: 0;
   left: 12px;
   height: 20px;
   width: 20px;
   border: 1px solid #d0cdcd;
   border-radius: 50%;
   }
   /* On mouse-over, add a grey background color */
   .metawash-plugin-outer .radio_btn:hover input ~ .checkmark {
   background-color: #ccc;
   }
   /* When the radio button is checked, add a blue background */
   .metawash-plugin-outer .radio_btn input:checked ~ .checkmark {
   background-color: #2196F3;
   border: 1px solid #2196F3;
   }
   /* Create the indicator (the dot/circle - hidden when not checked) */
   .metawash-plugin-outer .checkmark:after {
   content: "";
   position: absolute;
   display: none;
   }
   /* Show the indicator (dot/circle) when checked */
   .metawash-plugin-outer .radio_btn input:checked ~ .checkmark:after {
   display: block;
   }
   /* Style the indicator (dot/circle) */
   .metawash-plugin-outer .radio_btn .checkmark:after {
   top: 6px;
   left: 6px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
   }
   /* meta-wash-css start */
   .metawash-plugin-outer .metawash-plugin-outter {
   padding: 30px 30px 30px 10px;
   }
   .metawash-plugin-outer .tabcontent {
   display: none;
   min-height: 180px;
   }
   .metawash-plugin-outer .tabcontent.active {
   transition: all 1s ease;
   display: block;
   position: relative;
   }
   .metawash-plugin-outer .metawash-tab-content {
   margin: 40px 0px;
   }
   .metawash-plugin-outer .metawash-tab-content .tabs button {
   border-width: 0px;
   position: relative;
   z-index: 1;
   padding: 0;
   background: transparent;
   }
   .metawash-plugin-outer .metawash-tab-content .tabs button  svg path{
   position: relative;
   fill: #ffffff;
   width: 90%;
   }
   .metawash-plugin-outer .metawash-tab-content #wrapper .content .tabs svg.white-bg {
   max-width: 90%;
   }
   .metawash-plugin-outer .metawash-tab-content .tabs button p {
   position: absolute;
   margin: 0;
   top: 50%;
   display: flex;
   align-items: center;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #1D1D1D;
   width: 100%;
   justify-content: center;
   }
   .metawash-plugin-outer button.tablinks.active svg.white-bg path{
   fill:#2272B1;
   }
   .metawash-plugin-outer .metawash-tab-content .tabs button.active p{
   color: #fff;
   }
   .metawash-plugin-outer button.tablinks.active.token {
   z-index: 4;
   }
   .metawash-plugin-outer button.tablinks.setting {
   z-index: 3;
   }
   .metawash-plugin-outer button.tablinks.manual {
   z-index: 2;
   }
   .metawash-plugin-outer .social_ic_bottom {
   display: flex;
   gap: 9px;
   justify-content: center;
   margin-top: 0px;
   position: absolute;
   bottom: -81px;
   left: 0;
   right: 0;
   }